:root {
    --border-color: rgb(185, 185, 185);
    --border-radius: 6px;
    --black-color: #333;
    --caption-color: #3B5998;
    --muted-color: #888;
    --background-color: white;
    --search-border-color: #d4d4d4;
    --search-background-color: #f4f4f4;
    --table-color: #e1e1e1;
    --table-row-color: #f8f8f8;
    --input-border-color: #aaa;
    --button-border-color: #999;
    --button-background-color: #ddd;
    --positive-color: green;
    --error-color: red;
    color: var(--black-color);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

header .enter-or-register-box {
    flex-basis: 100%;
    margin-top: -1.15em;
    text-align: right;
}

header .languages {
    display: flex;
    gap: 0.25rem;
}

header nav {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    min-height: 2.75rem;
    padding: 0 0.5rem 0 1.25rem;
    margin-top: 1rem;
}

header nav ul {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--black-color);
    font-family: "Arial Narrow", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.middle {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}

aside {
    flex: 0 0 20rem;
    order: 2;
}

main {
    flex: 1;
    order: 1;
    min-width: 0;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid var(--border-color);
    padding-top: 0.5rem;
    text-align: center;
}

aside section {
    border: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

aside section .header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.25rem;
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: var(--caption-color);
}

aside section .header:before {
    content: "→";
}

aside section .body {
    padding: 1rem;
}

aside section .footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--border-color);
    padding: 0.25rem;
}

aside section .footer a {
    font-size: 0.75rem;
}

aside section .footer a:after {
    content: " →";
}

header nav .search {
    display: flex;
    flex: 0 0 auto;
    margin: 0;
}

header nav .search input {
    box-sizing: border-box;
    width: 11.5rem;
    height: 1.25rem;
    border: 1px solid var(--search-border-color);
    padding: 0 0.25rem 0 1.25rem;
    background: var(--search-background-color) url("../img/search-16x16.png") no-repeat 0.125rem center;
    font-size: 0.75rem;
}

.datatable {
    font-size: 0.8125rem;
}

.datatable .caption {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: 0.25rem 0.5rem;
    background: var(--table-color);
    font-size: 0.875rem;
    line-height: 1.0625rem;
}

.datatable table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.datatable th,
.datatable td {
    border: 1px solid var(--table-color);
    padding: 0.3125rem;
    line-height: 1rem;
}

.datatable th {
    font-family: Georgia, serif;
    font-size: 0.875rem;
}

.datatable th:first-child {
    width: 8.5%;
}

.datatable th:nth-child(2) {
    width: 43.2%;
}

.datatable th:last-child {
    width: 12.6%;
}

.datatable tbody tr:nth-child(2n-1) {
    background: var(--table-row-color);
}

article .title {
    color: var(--caption-color);
    font-size: 1.375rem;
    font-weight: bold;
}

article .information {
    margin-top: 0.125rem;
    color: var(--muted-color);
    font-size: 0.875rem;
}

article .body {
    margin-top: 1rem;
    border-left: 4px solid var(--border-color);
    padding-left: 0.75rem;
    font-family: Arial, sans-serif;
}

article .body p {
    margin: 0 0 1rem;
}

article .body p:last-child {
    margin-bottom: 0;
}

article .attachment {
    margin: 0.4375rem 0;
    padding: 0;
    color: var(--muted-color);
    font-size: 0.8125rem;
    list-style: none;
}

article .attachment li {
    min-height: 1rem;
    padding-left: 1.25rem;
    background: url("../img/paperclip-16x16.png") no-repeat left center;
    line-height: 1.25rem;
}

article .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0.375rem 0.625rem;
    line-height: 1.4375rem;
}

article .footer .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

article .footer .positive-score {
    color: var(--positive-color);
    font-family: Georgia, serif;
    font-size: 1.125rem;
    font-weight: bold;
}

article .footer .right {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
}

article .footer .right img {
    margin-left: 0.5rem;
}

.login-form-box {
    width: 30rem;
    max-width: calc(100% - 2px);
    margin: 0 auto;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.login-form-box .header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.25rem 0.5rem;
    color: var(--caption-color);
    font-size: 1.125rem;
    font-family: Georgia, serif;
    line-height: 1.125rem;
    font-weight: bold;
}

.login-form-box .body {
    padding-top: 1.5rem;
}

.login-form-box .field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1.5rem;
}

.login-form-box .field .name {
    flex: 0 0 11rem;
    text-align: right;
    line-height: 1.5rem;
}

.login-form-box .field .value {
    flex: 1;
    min-width: 0;
}

.login-form-box .field .error,
.login-form-box .checkbox-field,
.login-form-box .button-field {
    margin-left: 12rem;
}

.login-form-box .field input {
    box-sizing: border-box;
    width: 15.25rem;
    max-width: calc(100% - 0.5rem);
    height: 1.5rem;
    border: 1px solid var(--input-border-color);
    padding: 0.0625rem 0.125rem;
    background: var(--background-color);
}

.login-form-box .field .error {
    flex-basis: 100%;
    color: var(--error-color);
    font-size: 0.8125rem;
}

.login-form-box .checkbox-field {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.8125rem;
}

.login-form-box .button-field {
    margin-top: 2rem;
}

.login-form-box .button-field input {
    width: 6rem;
    height: 1.5625rem;
    border: 1px solid var(--button-border-color);
    border-radius: 2px;
    padding: 0;
    background: linear-gradient(var(--background-color), var(--button-background-color));
    cursor: pointer;
}

.login-form-box .links {
    padding: 0.125rem 0.25rem;
    text-align: right;
    font-size: 0.8125rem;
}

.login-form-box .footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 1rem;
    border-top: 1px solid var(--border-color);
    padding: 0.25rem;
    font-size: 0.8125rem;
}

@media (max-width: 1024px) {
    aside {
        flex-basis: 16rem;
    }
}

@media (max-width: 800px) {
    aside {
        flex-basis: 14rem;
    }

    header nav .search input {
        width: 9rem;
    }

    header nav ul {
        column-gap: 0.5rem;
    }

    .login-form-box .field .name {
        flex-basis: 8rem;
    }

    .login-form-box .field .error,
    .login-form-box .checkbox-field,
    .login-form-box .button-field {
        margin-left: 9rem;
    }
}

header nav a[aria-current="page"] {
    color: var(--caption-color);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}
